* {
  box-sizing: border-box;
}

body {
  background-color: #111;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  overflow: hidden;
  margin: 0;
}

.container {
  max-width: 500px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-self: center;
}

.square {
  width: 20px;
  height: 20px;
  background-color: #1d1d1d;
  margin: 2px;
  border-radius: 50%;
  box-shadow: 0 0 2px #000;
  transition: all 2.5s ease;
}

.square:hover {
  transition-duration: 0s;
}
